* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  margin-left: 2.5vw;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 30vw;
  padding: 2vw;
  margin: 5vw;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border: 2px solid black;
  background-color: rgba(255, 255, 0, 0.82);
}

button {
  max-width: 30%;
  text-align: center;
}

.done {
  text-decoration: line-through;
}
